* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  outline: none;
}

ul{
  list-style-type: none;
}

button{
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  font-weight: 600;
  transition: .17s ease;

  &:hover{
    background-color: rgb(196, 196, 196);
  }
}

